
<div class="product-div">
  <div class="card border-primary mb-3">
    <div class="card-header bg-primary">
      <h6 class="card-text">Products</h6>
    </div>
    <div class="card-body p-0">
      <ul class="list-group list-group-flush product-ul">
        <li class="list-group-item">
          <a
              mat-list-item
              *ngFor="let data of ProductList"
              (click)="selectedProduct(data)"
              class="hover"
            >
              <ul class="list-inline pointer">
                <li class="list-inline-item ">
                    {{ data.product_name }}
                </li>
                <li class="list-inline-item float-right">&nbsp;&#36;{{ data.price }}</li>
              </ul>
          </a>
        </li>
      </ul>  
    </div>
  </div>
</div>
