<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto item-position">
      <li class="nav-item active">
        <h4>Product Mangager</h4>
      </li>
      <li class="nav-item">
          <button type="button" class="btn btn-light btn-sm" routerLink="/login"
          (click)="logout()">
              <span class="glyphicon glyphicon-log-out"></span> Log out
            </button>
            
        <!-- <button class="btn btn-success" routerLink="/login" (click)="logout()">
          logout
        </button> -->
      </li>
    </ul>
  </div>
</nav>
<div class="mt-4 row container-fluid">
  <div class="col-md-4">
    <div class="list-div">
      <app-product [ProductList]="productList"
      (product)="selectedProduct($event)"></app-product>
    </div>
  </div>
  <div class="col-md-8">
    <div class="form-div">
      <div class="top-header">
        <p class="text-center"><strong>Product Count: {{productCount}}</strong></p>
      </div>
      <div class="forms">
        <app-product-add [product]="selectedItem"
        (productList)="updateProductList($event)"></app-product-add>
      </div>
    </div>
  </div>
</div>
