<div class="container">
  <div class="row">
    <div class="product-div">
      <div class="card border-primary mb-3">
        <div class="card-header bg-primary">
          <ul class="list-inline">
            <li class="list-inline-item">
              <h6 class="card-text">Product Details</h6>
            </li>
            <li *ngIf="product" class="list-inline-item float-right"> 
              <h6 class="card-text text-right">{{name}} (productId: {{productid}})</h6>
            </li>
          </ul>
        </div>
        <div class="card-body p-0">
          <form
            [formGroup]="productForm"
            class="form-horizontal"
          >
            <div class="col">
              <div class="form-group">
                <label for="product_name">Name</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="product_name"
                  placeholder="Product Name"
                />
                <div class="invalid-feedback">
                  <div
                    *ngIf="
                      isSubmitted &&
                      formControls.product_name.hasError('required')
                    "
                  >
                    Please enter product name.
                  </div>
                  <div
                    *ngIf="
                      isSubmitted &&
                      formControls.product_name.hasError('minlength')
                    "
                  >
                    Product name must be at most 5 characters long.
                  </div>
                  <div
                    *ngIf="
                      isSubmitted &&
                      formControls.product_name.hasError('maxlength')
                    "
                  >
                    Product name must be at most 50 characters long.
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="price">Price</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                      </div>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="price"
                      placeholder="Enter price"
                    />
                </div>
               
                <div class="invalid-feedback">
                  <div
                    *ngIf="
                      isSubmitted && formControls.price.hasError('required')
                    "
                  >
                    Please enter product price.
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="form-group">
            <div class="card text-black mb-3">
                <div class="card-header text-white">Rating</div>
                <div class="card-body">
                    <input
                    type="text"
                    class="form-control"
                    formControlName="rating"
                    placeholder="rating"
                  />
                  <div class="invalid-feedback">
                    <div
                      *ngIf="
                        isSubmitted && formControls.rating.hasError('required')
                      "
                    >
                      Please enter rating.
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div class="buttons">
              <button type="submit" class="btn btn-primary" (click)="add($event)">
                Add
              </button>
              <button type="button" class="btn btn-success" (click)="update($event)">
                Save
              </button>
              <button type="button" class="btn btn-danger" (click)="delete($event)">
                Delete
              </button>
              <button type="button" class="btn btn-warning" (click)="reset()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
